.lead {
  font-size: 1.25em;
}

.nowrap {
  white-space: nowrap;
}

.strong {
  font-weight: 700;
}

.semibold {
  font-weight: 600;
}

.capitalize {
  text-transform: capitalize;
}

.pull-right {
  margin-left: auto;
}

.pull-left {
  margin-right: auto;
}
